body{
    background-color: rgb(175, 175, 175);
}

#carousel{
    width: 70%;
    margin-left:15%; 
}


.carousel-indicators li{
    background-color: black;
    opacity: .3;
}

.carousel-indicators .active{
    background-color: black;
    opacity: .7;
}

.carousel-control-prev span, .carousel-control-next span{
    border-radius: 5px;
    opacity: 1;
}

.carousel-item .carousel-caption{
    border-radius: 10px;
    text-shadow: 3px 3px #333;
}

#mattressModal li{
    list-style: none;
}

#mattressModalLabel {
    /* color: red; */
}